In [13]:
import pandas as pd
import numpy as np

In [15]:
#Adicionando arquivo de dados
df = pd.read_csv('Cost_of_Living_Index_by_Country_2024.csv')

In [17]:
#Dicionario inicial
index = {
    'Country':'País',
    'Cost of Living Index': 'Custo de vida',
    'Rent Index': 'Índice de Renda',
    'Cost of Living Plus Rent Index':'Custo de vida mais renda',
    'Groceries Index': 'Indice da Alimentação',
    'Restaurant Price index': 'Preço Restaurantes',
    'Local Purchasing Power Index': 'Poder de compra local'
        }

In [19]:
pd.DataFrame.from_dict(index, orient='index', columns=[''])

Country                                             País
Cost of Living Index                       Custo de vida
Rent Index                               Índice de Renda
Cost of Living Plus Rent Index  Custo de vida mais renda
Groceries Index                    Indice da Alimentação
Restaurant Price index                Preço Restaurantes
Local Purchasing Power Index       Poder de compra local

In [21]:
df.head(10)

,Rank,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,1,Switzerland,101.1,46.5,74.9,109.1,97.0,158.7
1,2,Bahamas,85.0,36.7,61.8,81.6,83.3,54.6
2,3,Iceland,83.0,39.2,62.0,88.4,86.8,120.3
3,4,Singapore,76.7,67.2,72.1,74.6,50.4,111.1
4,5,Barbados,76.6,19.0,48.9,80.8,69.4,43.5
5,6,Norway,76.0,26.2,52.1,79.0,73.5,114.7
6,7,Denmark,72.3,26.4,50.2,64.8,81.3,127.2
7,8,Hong Kong (China),70.8,59.4,65.3,84.6,46.2,109.3
8,9,United States,70.4,41.7,56.6,75.0,67.2,142.3
9,10,Australia,70.2,33.4,52.5,77.3,62.5,127.4

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 8 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Rank                            121 non-null    int64
 1   Country                         121 non-null    object
 2   Cost of Living Index            121 non-null    float64
 3   Rent Index                      121 non-null    float64
 4   Cost of Living Plus Rent Index  121 non-null    float64
 5   Groceries Index                 121 non-null    float64
 6   Restaurant Price Index          121 non-null    float64
 7   Local Purchasing Power Index    121 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 7.7+ KB

In [25]:
df.isna().sum()

Rank                              0
Country                           0
Cost of Living Index              0
Rent Index                        0
Cost of Living Plus Rent Index    0
Groceries Index                   0
Restaurant Price Index            0
Local Purchasing Power Index      0
dtype: int64

In [27]:
df['Country'] = df['Country'].astype(str)

In [29]:
paises = df['Country'].tolist()

In [31]:
paises

['Switzerland',
 'Bahamas',
 'Iceland',
 'Singapore',
 'Barbados',
 'Norway',
 'Denmark',
 'Hong Kong (China)',
 'United States',
 'Australia',
 'Austria',
 'Canada',
 'New Zealand',
 'Ireland',
 'France',
 'Puerto Rico',
 'Finland',
 'Netherlands',
 'Israel',
 'Luxembourg',
 'Germany',
 'United Kingdom',
 'Belgium',
 'South Korea',
 'Sweden',
 'Italy',
 'United Arab Emirates',
 'Cyprus',
 'Uruguay',
 'Jamaica',
 'Malta',
 'Trinidad And Tobago',
 'Costa Rica',
 'Bahrain',
 'Greece',
 'Estonia',
 'Qatar',
 'Slovenia',
 'Latvia',
 'Spain',
 'Lithuania',
 'Slovakia',
 'Cuba',
 'Czech Republic',
 'Panama',
 'Japan',
 'Croatia',
 'Saudi Arabia',
 'Taiwan',
 'Portugal',
 'Oman',
 'Kuwait',
 'Albania',
 'Lebanon',
 'Hungary',
 'Palestine',
 'Jordan',
 'Armenia',
 'Poland',
 'Mexico',
 'El Salvador',
 'Montenegro',
 'Chile',
 'Guatemala',
 'Venezuela',
 'Bulgaria',
 'Dominican Republic',
 'Serbia',
 'Romania',
 'Turkey',
 'Cambodia',
 'Cameroon',
 'Zimbabwe',
 'Mauritius',
 'Fiji',
 'Bosnia And Herzegovina',
 'Sri Lanka',
 'South Africa',
 'Thailand',
 'Moldova',
 'Georgia',
 'North Macedonia',
 'Ecuador',
 'Kazakhstan',
 'China',
 'Nigeria',
 'Azerbaijan',
 'Philippines',
 'Russia',
 'Ghana',
 'Brazil',
 'Kenya',
 'Botswana',
 'Malaysia',
 'Peru',
 'Morocco',
 'Kosovo (Disputed Territory)',
 'Argentina',
 'Iraq',
 'Uganda',
 'Algeria',
 'Colombia',
 'Vietnam',
 'Tunisia',
 'Bolivia',
 'Kyrgyzstan',
 'Indonesia',
 'Iran',
 'Uzbekistan',
 'Belarus',
 'Ukraine',
 'Nepal',
 'Paraguay',
 'Madagascar',
 'Syria',
 'Tanzania',
 'Bangladesh',
 'India',
 'Egypt',
 'Libya',
 'Pakistan']

In [33]:
paises.sort()
paises

['Albania',
 'Algeria',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Bolivia',
 'Bosnia And Herzegovina',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Chile',
 'China',
 'Colombia',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Estonia',
 'Fiji',
 'Finland',
 'France',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Hong Kong (China)',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kosovo (Disputed Territory)',
 'Kuwait',
 'Kyrgyzstan',
 'Latvia',
 'Lebanon',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malaysia',
 'Malta',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Montenegro',
 'Morocco',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Palestine',
 'Panama',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russia',
 'Saudi Arabia',
 'Serbia',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'South Africa',
 'South Korea',
 'Spain',
 'Sri Lanka',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tanzania',
 'Thailand',
 'Trinidad And Tobago',
 'Tunisia',
 'Turkey',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Venezuela',
 'Vietnam',
 'Zimbabwe']

# **Manipulando e adicionando novos tipos de dados/colunas**

In [35]:
#Adicionando tipo de culturas
paises_ocidentais = [
    'Albania', 'Argentina', 'Australia', 'Austria', 'Bahamas', 'Barbados', 'Belgium',
    'Bolivia', 'Bosnia And Herzegovina', 'Botswana', 'Brazil', 'Bulgaria', 'Canada',
    'Chile', 'Colombia', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic',
    'Denmark', 'Dominican Republic', 'Ecuador', 'El Salvador', 'Estonia', 'Fiji',
    'Finland', 'France', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Hungary', 'Iceland',
    'Ireland', 'Israel', 'Italy', 'Jamaica', 'Kosovo (Disputed Territory)', 'Latvia',
    'Lithuania', 'Luxembourg', 'Malta', 'Mauritius', 'Mexico', 'Moldova', 'Montenegro',
    'Netherlands', 'New Zealand', 'North Macedonia', 'Norway', 'Panama', 'Paraguay',
    'Peru', 'Poland', 'Portugal', 'Puerto Rico', 'Romania', 'Russia', 'Serbia',
    'Slovakia', 'Slovenia', 'South Africa', 'Spain', 'Sweden', 'Switzerland',
    'Trinidad And Tobago', 'United Kingdom', 'United States', 'Uruguay', 'Venezuela',
    'Zimbabwe'
]

paises_orientais = [
    'Algeria', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Belarus', 'Cambodia',
    'Cameroon', 'China', 'Egypt', 'Georgia', 'Hong Kong (China)', 'India', 'Indonesia',
    'Iran', 'Iraq', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait', 'Kyrgyzstan',
    'Lebanon', 'Libya', 'Madagascar', 'Malaysia', 'Morocco', 'Nepal', 'Nigeria', 'Oman',
    'Pakistan', 'Palestine', 'Philippines', 'Qatar', 'Saudi Arabia', 'Singapore',
    'South Korea', 'Sri Lanka', 'Syria', 'Taiwan', 'Tanzania', 'Thailand', 'Tunisia',
    'Turkey', 'Uganda', 'Ukraine', 'United Arab Emirates', 'Uzbekistan', 'Vietnam'
]


def classificar_cultura(pais):
    if pais in paises_ocidentais:
        return 'Ocidental'
    elif pais in paises_orientais:
        return 'Oriental'
    else:
        return 'Indefinido'

df['Cultura'] = df['Country'].apply(classificar_cultura)

In [37]:
#Adicionando tipo de temperatura
paises_quentes = [
    'Algeria', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Botswana',
    'Cambodia', 'Cameroon', 'Colombia', 'Costa Rica', 'Cuba',
    'Dominican Republic', 'Egypt', 'El Salvador', 'Fiji', 'Ghana', 'Guatemala',
    'Hong Kong (China)', 'India', 'Indonesia', 'Iraq', 'Israel', 'Jamaica',
    'Jordan', 'Kenya', 'Kuwait', 'Libya', 'Madagascar', 'Malaysia', 'Mauritius',
    'Morocco', 'Nigeria', 'Oman', 'Panama', 'Paraguay', 'Philippines', 'Qatar',
    'Saudi Arabia', 'Singapore', 'Sri Lanka', 'Syria', 'Taiwan', 'Tanzania',
    'Thailand', 'Trinidad And Tobago', 'Tunisia', 'United Arab Emirates',
    'Uruguay', 'Venezuela', 'Vietnam', 'Zimbabwe'
]


paises_frios = [
    'Armenia', 'Austria', 'Belarus', 'Belgium', 'Canada', 'Czech Republic',
    'Denmark', 'Estonia', 'Finland', 'Germany', 'Iceland', 'Ireland', 'Kazakhstan',
    'Latvia', 'Lithuania', 'Luxembourg', 'Moldova', 'Netherlands', 'Norway',
    'Poland', 'Russia', 'Slovakia', 'Slovenia', 'Sweden', 'Switzerland', 'Ukraine',
    'United Kingdom', 'Uzbekistan'
]

paises_mistos = [
    'Albania', 'Argentina', 'Australia', 'Bolivia', 'Bosnia And Herzegovina',
    'Brazil', 'Bulgaria', 'Chile', 'China', 'Croatia', 'Cyprus', 'France', 'Georgia',
    'Greece', 'Hungary', 'Iran', 'Italy', 'Japan', 'Lebanon', 'Mexico',
    'Montenegro', 'Nepal', 'New Zealand', 'Pakistan', 'Peru', 'Portugal',
    'Romania', 'Serbia', 'South Africa', 'South Korea', 'Spain', 'Turkey',
    'United States'
]

def classificar_temperatura (pais):
    if pais in paises_quentes:
        return 'Quente'
    elif pais in paises_frios:
        return 'Frio'
    elif pais in paises_mistos:
        return 'Variavel'
    else:
        return 'Indefinido'

df['Temperatura'] = df['Country'].apply(classificar_temperatura)

In [39]:
#Adicionando tipo de umidade
paises_umidos = [
    'Bangladesh', 'Barbados', 'Cambodia', 'Colombia', 'Costa Rica',
    'Cuba', 'Dominican Republic', 'Fiji', 'Ghana', 'Guatemala', 'Hong Kong (China)',
    'India', 'Indonesia', 'Jamaica', 'Malaysia', 'Mauritius', 'Nigeria',
    'Panama', 'Paraguay', 'Philippines', 'Singapore', 'Sri Lanka', 'Taiwan',
    'Thailand', 'Trinidad And Tobago', 'Vietnam'
]

paises_secos = [
    'Algeria', 'Australia', 'Bahrain', 'Botswana', 'Egypt', 'Iran', 'Iraq',
    'Israel', 'Jordan', 'Kuwait', 'Libya', 'Morocco', 'Oman', 'Qatar', 'Saudi Arabia',
    'Syria', 'Tunisia', 'United Arab Emirates'
]

paises_mistos_clima = [
    'Argentina', 'Armenia', 'Austria', 'Belarus', 'Bolivia', 'Bosnia And Herzegovina','Brazil',
    'Bulgaria', 'Canada', 'Chile', 'China', 'Croatia', 'Cyprus', 'Denmark', 'Estonia',
    'France', 'Georgia', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Italy', 'Japan',
    'Kazakhstan', 'Lebanon', 'Mexico', 'Montenegro', 'Nepal', 'New Zealand', 'Norway',
    'Pakistan', 'Peru', 'Portugal', 'Romania', 'Russia', 'Serbia', 'South Africa',
    'South Korea', 'Spain', 'Sweden', 'Switzerland', 'Turkey', 'Ukraine',
    'United Kingdom', 'United States', 'Uzbekistan', 'Venezuela', 'Zimbabwe'
]

def classificador_umidade (pais):
    if pais in paises_umidos:
        return 'Umido'
    elif pais in paises_secos:
        return 'Seco'
    elif pais in paises_mistos_clima:
        return 'Misto'
    else:
        return 'Indeterminado'

df['Umidade'] = df['Country'].apply(classificador_umidade)

In [41]:
#Adicionando tipo de paisagem
paises_montanhosos = [
    'Armenia', 'Austria', 'Bolivia', 'Bosnia And Herzegovina', 'Chile', 'China',
    'Croatia', 'Ecuador', 'Ethiopia', 'Georgia', 'Greece', 'Iceland', 'India',
    'Iran', 'Italy', 'Japan', 'Kazakhstan', 'Lebanon', 'Mexico', 'Montenegro',
    'Morocco', 'Nepal', 'New Zealand', 'Norway', 'Pakistan', 'Peru', 'Portugal',
    'Romania', 'Serbia', 'South Korea', 'Spain', 'Switzerland', 'Turkey',
    'Ukraine'
]

paises_florestais = [
    'Bangladesh', 'Brazil', 'Canada', 'Colombia', 'Costa Rica', 'Cuba', 'Finland',
    'France', 'Germany', 'Guatemala', 'Indonesia', 'Malaysia', 'Panama', 'Paraguay',
    'Peru', 'Philippines', 'Russia', 'Sweden', 'Thailand', 'Trinidad And Tobago',
    'United States', 'Venezuela', 'Vietnam'
]

paises_praianos = [
    'Australia', 'Bahamas', 'Barbados', 'Dominican Republic', 'Fiji', 'Greece',
    'Honduras', 'Israel', 'Italy', 'Jamaica', 'Maldives', 'Mauritius', 'Mexico',
    'New Zealand', 'Portugal', 'Sri Lanka', 'Thailand', 'Trinidad And Tobago'
]

paises_urbanos = [
    'Bahrain', 'Hong Kong (China)', 'Japan', 'Singapore', 'South Korea',
    'United Arab Emirates'
]


def paisagem (pais):
    if pais in paises_montanhosos:
        return 'Montanhosa'
    elif pais in paises_florestais:
        return 'Florestal'
    elif pais in paises_praianos:
        return 'Praiano'
    elif pais in paises_urbanos:
        return 'Urbano'
    else:
        return 'Indefinido'

df['Paisagem'] = df['Country'].apply(paisagem)

In [43]:
#Adicionando nível de segurança
paises_baixa_seguranca = [
    'Afghanistan', 'Central African Republic', 'Haiti', 'Iraq', 'Libya', 'Mali', 
    'Somalia', 'South Sudan', 'Syria', 'Venezuela', 'Zimbabwe', 'Nigeria', 
    'Pakistan', 'Yemen', 'Bangladesh', 'North Korea', 'Palestine'
]

paises_media_seguranca = [
    'Albania', 'Algeria', 'Argentina', 'Armenia', 'Azerbaijan', 'Belarus', 
    'Bolivia', 'Bosnia And Herzegovina', 'Brazil', 'Cambodia', 'Cameroon', 
    'Colombia', 'Cuba', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 
    'Georgia', 'Guatemala', 'Honduras', 'India', 'Indonesia', 'Iran', 'Israel', 
    'Jamaica', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo (Disputed Territory)', 
    'Kyrgyzstan', 'Lebanon', 'Madagascar', 'Malaysia', 'Mexico', 'Moldova', 
    'Morocco', 'Nepal', 'Paraguay', 'Peru', 'Philippines', 'Russia', 'Serbia', 
    'South Africa', 'Sri Lanka', 'Thailand', 'Turkey', 'Ukraine', 'Uzbekistan', 
    'Vietnam'
]

paises_alta_seguranca = [
    'Australia', 'Austria', 'Bahamas', 'Bahrain', 'Barbados', 'Belgium', 
    'Botswana', 'Canada', 'Chile', 'China', 'Croatia', 'Cyprus', 'Czech Republic', 
    'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hong Kong (China)', 
    'Hungary', 'Iceland', 'Ireland', 'Italy', 'Japan', 'Kuwait', 'Latvia', 
    'Lithuania', 'Luxembourg', 'Malta', 'Mauritius', 'Montenegro', 'Netherlands', 
    'New Zealand', 'Norway', 'Panama', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 
    'Saudi Arabia', 'Singapore', 'Slovakia', 'Slovenia', 'South Korea', 'Spain', 
    'Sweden', 'Switzerland', 'Taiwan', 'Trinidad And Tobago', 'United Arab Emirates', 
    'United Kingdom', 'United States', 'Uruguay'
]

def seguranca (pais):
    if pais in paises_baixa_seguranca:
        return 'Baixa'
    elif pais in paises_media_seguranca:
        return 'Media'
    elif pais in paises_alta_seguranca:
        return 'Alta'
    else:
        return 'Inderteminado'

df['Nível_segurança'] = df['Country'].apply(seguranca)

In [45]:
df

,Rank,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Cultura,Temperatura,Umidade,Paisagem,Nível_segurança
0,1,Switzerland,101.1,46.5,74.9,109.1,97.0,158.7,Ocidental,Frio,Misto,Montanhosa,Alta
1,2,Bahamas,85.0,36.7,61.8,81.6,83.3,54.6,Ocidental,Quente,Indeterminado,Praiano,Alta
2,3,Iceland,83.0,39.2,62.0,88.4,86.8,120.3,Ocidental,Frio,Misto,Montanhosa,Alta
3,4,Singapore,76.7,67.2,72.1,74.6,50.4,111.1,Oriental,Quente,Umido,Urbano,Alta
4,5,Barbados,76.6,19.0,48.9,80.8,69.4,43.5,Ocidental,Quente,Umido,Praiano,Alta
...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,117,Bangladesh,22.5,2.4,12.8,25.7,12.8,33.1,Oriental,Quente,Umido,Florestal,Baixa
117,118,India,21.2,5.6,13.7,23.8,15.1,82.6,Oriental,Quente,Umido,Montanhosa,Media
118,119,Egypt,21.0,3.7,12.7,21.2,16.2,20.0,Oriental,Quente,Seco,Indefinido,Media
119,120,Libya,20.4,4.3,12.7,22.2,15.2,42.0,Oriental,Quente,Seco,Indefinido,Baixa
120,121,Pakistan,18.8,2.8,11.1,17.5,12.9,29.1,Oriental,Variavel,Misto,Montanhosa,Baixa

In [47]:
#Verificando se faltou algum dado de um país
df.isna().sum()

Rank                              0
Country                           0
Cost of Living Index              0
Rent Index                        0
Cost of Living Plus Rent Index    0
Groceries Index                   0
Restaurant Price Index            0
Local Purchasing Power Index      0
Cultura                           0
Temperatura                       0
Umidade                           0
Paisagem                          0
Nível_segurança                   0
dtype: int64

**Renomeando as colunas para não haver espaço entre os caracteres**

In [82]:
df.rename(columns={
    'Cost of Living Index': 'Cost_of_living_index',
    'Rent Index':'Rent_index',
    'Cost of Living Plus Rent Index':'Cost_of_living_plus_index',
    'Groceries Index':'Groceries_Index',
    'Restaurant Price Index':'Restaurant_Price_Index',
    'Local Purchasing Power Index':'Local Purchasing Power Index',
    }, inplace=True)

In [84]:
df.dtypes

Rank                              int64
Country                          object
Cost_of_living_index            float64
Rent_index                      float64
Cost_of_living_plus_index       float64
Groceries_Index                 float64
Restaurant_Price_Index          float64
Local Purchasing Power Index    float64
Cultura                          object
Temperatura                      object
Umidade                          object
Paisagem                         object
Nível_segurança                  object
dtype: object

Apesar das colunas estarem classificadas como 'object' seu conteudo está como string.

**Tudo pronto para salvar adicionar a tabela no banco de dados**

In [90]:
df.to_csv('dados_paises.csv')